name: "Checkout Example"

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
    steps:
      - name: Verification
      - run: ls -alhR
